.img_main{
  background-image: url('images/cht_maserati.jpg');
  background-size: cover;
  height: 50em;

}

.tw > .img_main{
  background-image: url('images/cht_maserati.jpg');
  background-size: cover;
  min-height: 50em;

}

.eng > .img_main{
  background-image: url('images/eng_maserati.jpg');
  background-size: cover;
  min-height: 50em;

}

.jp > .img_main{
  background-image: url('images/jp_maserati.jpg');
  background-size: cover;
  min-height: 50em;


}
